/* Generals
-------------------------------------------------------------- */

.floatleft { float: left; }
.floatright { float: right; }
.clear { clear: both; }
.justified { text-align: justify; }
.mid { margin-bottom: -3px; }
.rel { position: relative; }
.rbg { background: #ff0000; }
.gbg { background: #00ff00; }
.bbg { background: #0000ff; }
.txtsx { text-align: left; }
.txtdx { text-align: right; }
.txtmid { text-align: center; }
i.sx { margin-right: 5px; }
i.dx { margin-left: 5px; }



/* Struttura
-------------------------------------------------------------- */

body {
	padding: @navbar-height 0 0;
}



/* Header
-------------------------------------------------------------- */

.navbar-brand {
    line-height: @navbar-height;
    margin: 0 30px 0 0;
	padding: 0 15px;
	img {
		margin: -4px 0 0 3px;
	}
}
.navbar-default .navbar-nav {
	& > li > a {
		color: #ddd;
	}
	& > li.active > a,
	& > li > a:hover,
	& > li > a:focus {
		color: @brand-primary;
	}
}



/* Sidebar
-------------------------------------------------------------- */

.bs-sidenav {
	margin-top: 26px;
	& > li > a {
		position: relative;
		padding: 5px 15px;
		&:before {
			position: absolute;
			top: 5px;
			left: 0;
			display: block;
			font-family: 'FontAwesome';
			content: '\f0da';
			color: #666;
		}
	}
	& > li.main > a {
		padding: 5px 0;
		// border-bottom: 1px dashed #555;
		text-transform: uppercase;
		color: #888;
		&:before {
			display: none;
		}
	}
	& > li > a:hover,
	& > li > a:focus {
		background: transparent;
		color: #fff;
	}
	& > li.active > a,
	& > li.main.active > a {
		font-weight: bold;
		color: #fff;
	}
}



/* Footer
-------------------------------------------------------------- */

#footer {
	margin-top: 60px;
	padding: 10px 0 40px;
	background: #222;
	font-size: 14px;
	color: #aaa;
	.container {
		padding-top: 10px;
	}
	h4 {
		color: #fff;
	}
	a {
		color: #666;
	}
	a:hover,
	a:focus {
		text-decoration: none;
		color: #fff;
	}
	.credits {
		text-align: right;
	}
}
.footer-menu {
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		margin: 0;
		padding: 0;
		list-style: none;
		a {
			display: block;
			line-height: 30px;
			text-transform: uppercase;
			color: #ddd;
		}
		a:hover,
		a:focus {
			text-decoration: none;
		}
	}
}
/* responsive FB like box */
.footer-buttons {
	a {
		display: inline-block;
		width: 30px;
		margin: 10px 0 10px 40px;
		padding: 0;
		text-align: center;
		i {
			font-size: 40px;
			width: 24px;
		}
	}
}



/* Content
-------------------------------------------------------------- */

h1, h2 {
	text-transform: uppercase;
}
h1 {
	padding-bottom: 10px;
	border-bottom: 10px solid #222;
}
h4, h5 {
	font-weight: 400;
	color: #c09853;
}
strong {
    color: #ccc;
}
#content img {
	.img-responsive;
	margin: 30px auto 20px;
}
#contribute-edit {
	display: block;
	margin-top: 40px;
	line-height: 40px;
	padding: 20px;
	border: 2px dashed #222;
	color: #333;
	font-size: 18px;
	text-align: center;
	vertical-align: bottom;
	&:hover,
	&:focus {
		border-color: #444;
		color: #555;
		text-decoration: none;
	}
	i {
		display: inline-block;
		margin: 0 10px;
		font-size: 40px;
		vertical-align: bottom;
	}
}



/* Bootstrap overwrites
-------------------------------------------------------------- */

pre, .alert, .alert-danger, .alert-success, .alert-info, .alert-warning {
    padding: 15px;
	background-color: #222;
    border: none;
	font-size: @font-size-base;
	font-weight: inherit;
	line-height: @line-height-base;
}
.alert-info {
    color: #C3D6DF;
}
.alert-warning {
    color: #C09853;
}
.alert i {
    margin-right: 10px;
	font-size: 20px;
}



/* Media Queries
-------------------------------------------------------------- */

// sotto i 480px
@media (max-width: 479px) {

}
// sopra i 480px
@media (min-width: 480px) {

}
// sotto i 768px
@media (max-width: @screen-sm) {
	.affix {
		position: relative;
	}
	#footer h4, .footer-menu li a, #footer .credits {
		text-align: center;
	}
	.footer-buttons {
		padding-top: 20px;
	}
	.footer-buttons a {
		margin: 10px 20px;
	}
}
// sopra i 768px
@media (min-width: @grid-float-breakpoint) {

}
// fra 768px e 979px
@media (min-width: @screen-sm) and (max-width: @screen-md) { 
	.navbar-right {
		display: none;
	}
	.affix {
		position: relative;
	}
}
// fra 992px e 1200px
@media (min-width: @screen-md) and (max-width: @screen-lg) { 

}
// sopra i 1200px
@media (min-width: @screen-lg) {

}